body{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}
.setings__Head{
    height: 10vh;
    width: 100vw;
}
.settings__button{
    margin-top: 10vh;
    height: 80vh;
    align-items: center;
    display: grid;
    
}
.settings__button__el {
width: 350px;
height: 100px;
background: #000000;
color: white;
border: 5px solid #FFFFFF;
box-sizing: border-box;
outline:none;
border-radius: 0px 80px 50px;
}


@media only screen and (orientation: portrait) {
    .settings__button{
        justify-content: center;
    }

  }
