.navbar__first{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}
.button{
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;  
    /* margin:10px;  */
    margin-right: 20px;
}
