.Update_profile{
    height: 80vh;
    margin-top: 9vh;
    padding: 10px;
    display: grid;
    grid-template-rows: 2fr 7fr;
}
.Update_profile__avatar{
    margin-top: -5vh;
   align-self: center;
   justify-self: center;
}
.Update_profile__Avatar_input{
    display: none;
}
.Update_profile-input >form{
    display: grid;
    grid-template-rows: repeat(6,1fr) 1fr;
    row-gap: 20px;
}
.Update_profile-input{
    display: grid;
    margin-top: 10px;
    
}

.Update_profile__text{
    justify-self: center;
    align-items: center;
    height: 7vh;
    background-color: black;
    color: #39ff14;
    border-radius: 50px;
    font-size: large;
    outline: none;
    padding-left: 20px;
    width: 70%;
    outline: none;
  
}

.Update_profile__text:hover{
    box-shadow: 0px 10px 10px rgba(252, 252, 252, 0.25);

}

.Update_profile-input form button {
    background-color:black;
    color:white;
    font-size: larger;
    width: 100px;
    outline: none;
    border: 1px solid green;
    border-radius: 10px;
    padding: 5px;
    justify-self: center;
    align-self: center;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(252, 252, 252, 0.25);
}
.Update_profile-input form button:hover {
    /* border:  3px solid white; */
    box-shadow: 0px 10px 10px rgba(252, 252, 252, 0.25);
}
