.Header_New_Eelements{
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-content: center;
}
.Header__img > img{
    height: 9vh;
    margin-left: 20px;
}
.Header_center >p{
    text-transform: uppercase;
}
.Header_center{
    padding: auto;
    margin: auto;
}
.Header__right{
    margin-top: 2vh;
    margin-right: 20px;
}