/* * {
  margin: 0;
  padding: 0;
}
.Album {
  height: 100vh;
  background: url("albumbackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */
