.Images__app >div{
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.Images__app{
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;

}
.Images__app_image{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
    height: 100vh;
}
.Images__app_image{
    background-color:rgb(255, 255, 255);
    height: 100vh;
    margin-bottom: -10vh;
}
.Image__app__img__left{
    height: 100vh;
    width: 10vw;
    display: flex;
    justify-items: center;
    align-items: center;
}
.Image__app__img__right{
    height: 100vh;
    width: 10vw;
    display: flex;
    justify-items: center;
    align-items: center;
}
.Image__app__img__midd{
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-content: center;
    
}


.IconButton__close{
    background-color:black;
    color:white;
    border-radius:10px;
    transition: transform .1s;
    transform: scale(1);
     
}
.IconButton__img{
    background-color:white;
    color:black;
    border-radius:10px;
    transition: transform .1s;
    transform: scale(1.4);
     
}
.IconButton__close:hover{
    background-color:white;
    color:black;
}
.IconButton__img:hover{
    background-color:black;
    color:white;
    transform: scale(1.5);

}

.Image__app__img{
    height: 90vh;
    width: 70vw;
    margin-top: 5vh;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
    border-radius: 50px;
    cursor: pointer;
    transition: transform 1.5s; 
     transform: scale(.9);
}




.Image__app__img:hover{
    transform: scale(1.05);

}
@media screen and (min-width: 320px) {
    .Images__app >div{
    grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width: 480px) {
    .Images__app >div{
    grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (min-width: 600px) {
    .Images__app >div{
    grid-template-columns: repeat(5,1fr);
    }
}
@media screen and (min-width: 768px) {
    .Images__app >div{
    grid-template-columns: repeat(6,1fr);
    }
}
@media screen and (min-width: 900px) {
    .Images__app >div{
    grid-template-columns: repeat(7,1fr);
    }
}
@media screen and (min-width: 1024px) {
    .Images__app >div{
    grid-template-columns: repeat(8,1fr);
    }
}
@media screen and (min-width: 1200px) {
    .Images__app >div{
    grid-template-columns: repeat(9,1fr);
    }
}