.Album__title__app{
  height: 15vh;
  background:rgba(0,0,0,.15);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  padding: 10px;
  width: 100vw;
}
.Album__title__midd{
  justify-self: center;
  align-self: center;
 
}

.Album__Home__icon{
  justify-self: end;
  margin: 10px;
}
.Album__Home__icon{
  border: 5px solid grey;
  border-radius: 30px;
  color: white;
  background-color:black;
  transition: .6s;

}
.Album__Home__icon:hover{
  color:black;
  background-color:white;
}




